@model List<e_website.Context.Category>
@{
    ViewBag.Title = "Index";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <nav class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="card card-category">
                        <div class="img-wrap l my-2" style="background: white;width:200px;margin-left:60px">
                            <a href="@Url.Action("ProductCategory", "Category", new { Id = item.Id })">
                                <img src="~/Content/images/category_asp/@item.Avatar">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><a href="@Url.Action("ProductCategory", "Category", new { Id = item.Id })">@item.Name</a></h4>
                        </div>
                    </div>
                </div> <!-- col.// -->
            }
        </nav> <!-- row.// -->

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->