
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanh toán</h2>

<h2 class="text-center">Thanh toán thành công</h2>
<p class="text-center"><a href="@Url.Action("Index", "Home")" class="btn btn-primary"><i class="fa fa-chevron-left"></i>Tiếp tục mua hàng</a></p>